<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">


<!-- suchana/index.html  22 Nov 2019 04:08:03 GMT -->

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Suchana is an online blog, news & magazine dedicated to different categories html template">

    <title>Suchana - Blog, News & Magazine HTML Template</title>
    {% include 'includes/styles.html' %}
</head>

<body class="home-default">

    <!--PRELOADER-->
    <div id="preloader">
        <div id="status"></div>
    </div>

    {% include 'includes/header.html' %}
   {% block content %}{% endblock %}

    <div class="mt_instagram">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_01.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_02.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_03.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_04.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_05.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_06.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_07.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_08.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_09.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_10.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_11.jpg' %}" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_12.jpg' %}" alt="Image"></a></div>
            </div>
            <div class="sectio-title">
                <h3 class="mar-0"><a href="#">Follow @ Instagram</a></h3>
            </div>
        </div>
    </div>


    {% include 'includes/footer.html' %}
    <!-- back to top -->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title=""
        data-placement="left">
        <span class="fa fa-arrow-up"></span>
    </a>

    <!-- search popup -->
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    {% include 'includes/scripts.html' %}
</body>


<!-- suchana/index.html  22 Nov 2019 04:08:35 GMT -->

</html>