 {% load static %}
<!--*Footer*-->
    <footer id="mt_footer" class="mt_footer_style1">
        <div class="container">
            <div class="mt_footer_col">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mt_footer_about">
                            <h2><a href="#">Suchana</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mt_footer_list">
                            <h3>Quick Links</h3>
                            <ul class="footer-quick-links-4">
                                <li><a href="#"><i class="fa fa-angle-right"></i> Contact US</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> FAQs</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Terms and Conditions</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mt_footer_newsletter">
                            <h3>Newsletter</h3>
                            <div class="mailpoet_form">
                                <form target="_self" method="post" action="#" novalidate="">
                                    <label>Email Address:</label>
                                    <input type="email" class="mailpoet_text" name="mail" title="Email"
                                        placeholder="Please specify a valid email address.">

                                    <div class="blog-button">
                                        <button class="btn-blog">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="mt_footer_gallery">
                            <h3>Amazing Gallery</h3>
                            <div class="row">
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_01.jpg' %}"
                                            alt="Image"></a></div>
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_02.jpg' %}"
                                            alt="Image"></a></div>
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_03.jpg' %}"
                                            alt="Image"></a></div>
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_04.jpg' %}"
                                            alt="Image"></a></div>
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_05.jpg' %}"
                                            alt="Image"></a></div>
                                <div class="col-sm-4 col-xs-6"><a href="#"><img src="{% static 'images/insta/insta_06.jpg' %}"
                                            alt="Image"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt_footer_copy">
                <div class="follow_us pull-right">
                    <ul class="social_icons">
                        <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!--* End Footer*-->