    {% load static %}
<!--*Header*-->
    <header id="inner-navigation">

        <!-- navbar start -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function navbar-arrow">

            <div class="container">

                <div class="logo pull-left">
                    <h1><a href=""><img src="{% static 'images/logo.png' %}"></a></h1>
                </div>

                <div id="navbar" class="navbar-nav-wrapper text-center">
                    <ul class="nav navbar-nav navbar-right" id="responsive-menu">
                        <li class="active"><a href="index.html">Home</a></li>

                        <li><a href="category.html">Blog List</a></li>

                        <li>
                            <a href="dashboard.html">Dashboard</a>
                        </li>

                        <li><a href="login.html">Login Page</a>
                        </li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li><a href="#search" class="mt_search"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>

            <div id="slicknav-mobile"></div>
        </nav>
        <!-- navbar end -->
    </header>
    <!--* End Header*-->